* {
    box-sizing: border-box;
 
}
.App{   
    height: 100vh;
    background-color: #382121;
  
}
.input_search{
    font-size: 16px;
    background-image: linear-gradient(to left, rgb(6 3 0 / 9%), rgba(36, 22, 153, 0.08));
    box-shadow: 0 0.7em 1.5em -0.5em rgb(39 114 61 / 60%);
    color: #382121;
    margin-right: 107px;
    outline: none;
    border: 0.1px solid rgb(0, 0, 0);
    margin-top: 28px;
    border: none;
    background-color: #c5d5c5;
    height: 40px;
    border-radius: 100px 100px 100px 100px;
    max-width: 100%;
    padding-left: 20px;
}
    .clickme{
    border-radius: 0px 40px 40px 0px;
    /* position: absolute; */
    margin-top: -70px;
    margin-left: 168px;
    font-family: inherit;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    width: 117px;
    height: 40px;
    background: linear-gradient(0deg, rgb(32, 80, 45) 0%, rgb(102, 247, 113) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em rgb(20 167 62 / 60%);
    letter-spacing: 0.05em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
    .button_out{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .row_list{
        margin-bottom: 10px;
        background-image: linear-gradient(to left, rgba(159, 25, 25, 0.75), rgba(36, 22, 153, 0.08));
        box-shadow: 0 25.7em 5.5em 7.5em rgb(115 155 102 / 68%);
        margin-top: 10px;
        color: #879185;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: inherit;
        line-height: 5px;
        height: 70vh;
        border: 1px solid;
        border-radius: 21px;
        width: 96%;
}

.column_list {
    flex-direction: column;
    border: 1px solid;
    color: #836b27;
    border-radius: 30px;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 10px;
    box-shadow: 0 -0.3em 1.5em 0.5em rgb(116 114 61 / 60%);
}


.img{
    box-shadow: 0 0.7em 1.5em -0.5em rgb(39 114 61 / 60%);
    margin-bottom: 10px;
    max-height: 403px;
    width: 42%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 10px;
}
.paragraph{
    color: #193819;
}
.left_paragraph{
    font-size: 12px;
    text-shadow: 20px -3px 20px #8f9f82;
    color: #ffffff;
    
}
.right_paragraph{
    font-size: 12px;
    text-shadow: 20px -3px 20px #8f9f82;
    color: #ffffff;
}



.onclick{
    cursor: pointer;
    cursor: pointer;
    color: #e7e7e7;
    font-size: 21px;
}
.left_side{
    height: 67vh;
    line-height: 0px;
    background-image: linear-gradient(to left, rgba(85, 211, 20, 0.11),  rgba(227, 126, 0, 0.09));
    box-shadow: 0 0.7em 1.5em -0.5em rgb(39 114 61 / 60%);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 22%;
    border-radius: 10px;
    border-bottom: 1px solid #ffffff29;
    border-left: 1px solid #ffffff29;
    border-top: 1px solid #ffffff29;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // line-height: 0px;
    // background-image: linear-gradient(to left, rgba(159, 25, 25, 0.38), rgb(179, 179, 179));
    // background-color: #ffffff;
    // margin-top: 10px;
    // margin-bottom: 10px;
    // margin-left: 10px;
    // margin-right: 10px;
    // width: 22%;
    // border-radius: 10px;
    // border-bottom: 1px solid white;
    // border-left: 1px solid white;
    // border-top:1px solid white;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // color: black;
    // height: 67vh;
}
// .column_list{
//     border: 1px solid;
//     width: 50%;
// }
.right_side{
    height: 67vh;
    line-height: 0px;
    background-image: linear-gradient(to left, rgb(227 126 0 / 9%), rgb(85 211 20 / 11%));
    box-shadow: 0 0.7em 1.5em -0.5em rgb(25 48 112 / 77%);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 22%;
    border-radius: 10px;
    border-bottom: 1px solid #ffffff29;
    border-right: 1px solid #ffffff29;
    border-top:1px solid #ffffff29;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
// #######################################################################
@media screen and (max-width: 648px) {
    .column_list {
        display: flex;
        justify-content: space-around;
        border-radius: 21px;
        // width: 95%;
        background: none;
       
    }   
}
@media screen and (max-width: 648px) {
    .row_list {
        border-radius: 21px;
        width: 95%;
        background: none;
        background-image: linear-gradient(to left, rgba(255, 131, 0, 0.14), rgb(5 6 6 / 70%));
        box-shadow: 0 25.7em 5.5em 7.5em rgb(2 10 4);
}


     
    @media screen and (max-width: 648px) {
        .img {    
            margin-top: -149px;
            position: absolute;
            width: 29%;
            border-radius: 0% 0% 80% 80%;
        }
}
// @media screen and (max-width: 648px) {
//     .right_side, .left_side {
//         min-width: 42%;
      

// }
@media screen and (max-width: 648px) {
    .App {
}
// @media screen and (max-width: 648px) {
//     .left_paragraph, .right_paragraph{
//         font-size: 11px;    
//     }
// }
    
}
@media screen and (max-width: 648px) {
    .right_side {
        display: flex;
        justify-content: flex-end;
        min-width: 45%;
    text-align: right;
    margin-left: -4.7%;
    padding-right: 30px;
    background-image: linear-gradient(to left, rgb(1 10 34 / 75%), rgb(0 0 0 / 11%));
    box-shadow: 0 0.7em 1.5em -0.5em rgb(255 241 241 / 77%);
}
@media screen and (max-width: 648px) {
    .left_side {
        display: flex;
        justify-content: flex-end;
        min-width: 45%;
        text-align: left;
        padding-left: 30px;
        margin-left: 4.7%;
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0.11), rgb(3 6 12));
        box-shadow: 0 0.7em 1.5em -0.5em rgb(255 241 241 / 77%);
      
}
}
}
}
